<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.baseurl }}">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
</button>

<!-- The section below contains the entries for the links in your navigation bar -->
<!-- To add more navigation links, copy the last <li></li> entry and paste it before the </ul> tag. Then, change the numbers from 5 to 6 -->
<!-- You will also need to add pages and adjust your config.yml file -->
    
 <div id="mynavbar" class="collapse navbar-collapse justify-content-end">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}">{{ site.navbar-links.page1 }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.github.page2 }}">{{ site.navbar-links.page2 }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.github.page3 }}">{{ site.navbar-links.page3 }}</a>
    </li>  
    <li class="nav-item">
      <a class="nav-link" href="{{ site.github.page4 }}">{{ site.navbar-links.page4 }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.github.page5 }}">{{ site.navbar-links.page5 }}</a>
    </li>
  </ul>
</div>
</nav>
