<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.github.page2 }}">Page 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.github.page3 }}">Page 3</a>
      </li>    
    </ul>
  </div>  
</nav>
