<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.baseurl }}">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
</button>
    
 <div id="mynavbar" class="collapse navbar-collapse justify-content-end">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.github.page2 }}">Page 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.github.page3 }}">Page 3</a>
    </li>    
  </ul>
</div>
</nav>
