---
---

/*** EDIT ONLY BELOW HERE ***/

/* SET BODY STYLES **/
body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #606c71;
}

/* SET STYLES FOR BANNER */
.jumbotron {
	text-align: center;
	background: #392986;
	color: aliceblue;
	background-image: linear-gradient(120deg, #155799, #159957);
}

/* Footer styles. Set black background color, white text and padding */
footer {
      background-color: #555;
      color: white;
      padding: 15px;
      text-align:center; 
}

/* Footer link styles. */
footer a {
	color: #f7f7f7;
	text-decoration: none;
}

footer a:hover {
	color:#ccffcc;
	text-decoration: underline;
}

